{% extends "base.html" %}
{% block title %}Rules{% endblock title %}
{% block body %}
  <div class="mb-8">
    <div>
      <a class="ars-button" href="/classifiers/new_category">New</a>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th width="10%" span="col">Id</th>
          <th width="30%" span="col">Name</th>
          <th span="col">Description</th>
        <tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{category.category_id}}</td>
          <td>{{category.name}}</td>
          <td>{{category.description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div

  <div>
    <div>
      <a class="ars-button" href="/classifiers/new_rule">New</a>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th width="30%">Category</th>
          <th>Rule</th>
        </tr>
      </thead>
      <tbody>
      {% for rule in rules %}
        <tr>
          <td>{{rule.category}}</td>
          <td>{{rule.regex}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}
