@tailwind base;
@tailwind components;
@tailwind utilities;

.ars-input {
  margin: 0.25rem;
  margin-bottom: 0.75rem;
}

.ars-input input {
  width: 100%;
  padding: 0.25rem 0.75rem;
  border: solid 1px #57534e;
  border-radius: 0.5rem;
}

.ars-input select {
  width: 100%;
  padding: 0.25rem 0.75rem;
  border: solid 1px #57534e;
  border-radius: 0.5rem;
  background-color: transparent;
}

.ars-button {
  padding: 0.25rem 0.75rem;
  border: solid 1px #57534e;
  border-radius: 0.5rem;
}

.ars-button:hover {
  background: #57534e77;
  cursor: pointer;
}
