{% extends "base.html" %}
{% block title %}Account {{account.account_name}}{% endblock title %}
{% block body %}
<div class="flex">
  <span class="text-lg grow">{{account.account_name}}</span>
  <div>
    <a href="/accounts/id/{{account.account_id}}/transactions/add">+</a>
  </div>
</div>
<div>
  <table>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>
    {% for tx in transactions %}
    <tr>
      <td>{{tx.description}}</td>
      <td>{{tx.transaction_timestamp}}</td>
      <td>{{tx.amount/100}}</td>
      <td>{{tx.category}}</td>
    </tr>
    {% endfor %}
  </table>
  <p>Loaded {{n_txs}} transactions</p>
</div>
{% endblock body %}

