{% extends "base.html" %}
{% block title %}Create category{% endblock title %}
{% block body %}
  <form action="/classifiers/new_category" method="post">
    <div class="mb-2">
      <label class="ars-input">
        Name
        <input type="text" name="name" />
      </label>
    </div>
    <div class="mb-2">
      <label class="ars-input">
        Description
        <input type="text" name="description" />
      </label>
    </div>
    <div class="mb-2" style="text-align: right;">
      <button class="ars-button" type="submit">Submit</button>
    </div>
  </form>
{% endblock body %}
