{% extends "base.html" %}
{% block title %}Create category{% endblock title %}
{% block body %}
  <form action="/categories/new" method="post" class="flex flex-col">
    <label class="grow">
      Name
      <input type="text" name="name" />
    </label>
    <label class="grow">
      Description
      <input type="text" name="description" />
    </label>
    <button type="submit">Submit</button>
  </form>
  <style>
    label {
      width: 100%;
    }

    input {
      width: 100%;
      border: 1px solid black;
      border-radius: 3px;
      padding: 0.25rem;
      margin: 0.25rem;
    }
  </style>
{% endblock body %}
